pom.xml
pom.xml.asc
*.jar
!/src/clojure-1.5.1.jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# When working with LaTeX ...
*.out
*.log
*.gz
*.aux
*.fls
*.toc
*.fdb_latexmk

# /doc
/doc/Manuscript.Aufgaben.tex
/doc/Consize.ZMaterial.tex

/.vscode
src/consize.bat

src/heute
.DS_store

*_files
*.html