pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# When working with LaTeX ...
*.out
*.log
*.gz

# /doc
/doc/Manuscript.tex
/doc/Manuscript.Aufgaben.tex
/doc/Consize.ZMaterial.tex
/doc/Consize.PreludeOld.2012-10-19.tex
/doc/Consize.Mathe.tex
/doc/Consize.FunctionalProgramming.tex